* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#france_id > .cls_box {
  position: relative;
  object-fit: cover;
}

#france_id > .cls_box > .cls_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

img {
  width: 100%;
}

.hide-on-desktop {
  display: none;
}

.hide-on-mobile {
  display: block;
}

#france_id > div:nth-of-type(1) {
  padding-bottom: 40.71875%;
}

#france_id > div:nth-of-type(1) source {
  width: 100%;
  height: 100%;
}

#france_id > div:nth-of-type(2) {
  padding-bottom: 45.364583333333336%;
}

#france_id > div:nth-of-type(2) .section-two {
  display: flex;
  justify-content: space-between;
  width: 65.83333333333334%;
  margin: 0 auto;
}

#france_id > div:nth-of-type(2) .section-two .firstColumn {
  width: 50%;
}

#france_id > div:nth-of-type(2) .section-two .firstColumn .alexander-III-bridge {
  width: 34.427083333333336%;
}

#france_id > div:nth-of-type(2) .section-two .firstColumn .alexander-III-bridge img {
  width: 100%;
}

#france_id > div:nth-of-type(2) .section-two .firstColumn .text {
  font-size: 1.5em;
  font-family: "Montserrat";
  padding-bottom: 15.082956259426847%;
}

#france_id > div:nth-of-type(2) .section-two .secondColumn {
  text-align: right;
  width: 50%;
}

#france_id > div:nth-of-type(2) .section-two .secondColumn .nooks-crannies {
  width: 78.41269841269841%;
}

#france_id > div:nth-of-type(2) .section-two .secondColumn .nooks-crannies img {
  height: 100%;
}

#france_id > div:nth-of-type(2) .flex {
  display: flex;
  flex-direction: row;
}

#france_id > div:nth-of-type(3),
#france_id > div:nth-of-type(5) {
  padding-bottom: 48.166666666666668%;
}

#france_id > div:nth-of-type(3) .title,
#france_id > div:nth-of-type(5) .title {
  padding: 2%;
  width: 80%;
  color: #6c7d43;
  font-family: "Montserrat";
  padding-left: 16.927083333333336%;
  font-size: 2vw;
  filter: contrast(1.75);
}

#france_id > div:nth-of-type(3) .first-product-list,
#france_id > div:nth-of-type(5) .first-product-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#france_id > div:nth-of-type(3) .first-product-list .product,
#france_id > div:nth-of-type(5) .first-product-list .product {
  width: 21.979166666666667%;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 15%;
  text-align: center;
  text-decoration: none;
  color: #6c7d43;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-text-stroke: 1px #6c7d43;
}

#france_id > div:nth-of-type(3) .first-product-list .product .btn-see-more,
#france_id > div:nth-of-type(5) .first-product-list .product .btn-see-more {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  border: none;
  font-size: 1vw;
}

#france_id > div:nth-of-type(3) .first-product-list .product .btn-see-more:hover,
#france_id > div:nth-of-type(5) .first-product-list .product .btn-see-more:hover {
  background-color: #6c7d43;
  color: #fff;
}

#france_id > div:nth-of-type(3) .first-product-list .product img,
#france_id > div:nth-of-type(5) .first-product-list .product img {
  width: 100%;
}

#france_id > div:nth-of-type(3) {
  padding-bottom: 62.166666666666668%;
}

#france_id > div:nth-of-type(4) {
  padding-bottom: 90.66666666666667%;
}

#france_id > div:nth-of-type(4) .relative-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#france_id > div:nth-of-type(4) .relative-container .section-arc {
  margin: 0 auto;
  justify-self: center;
  width: 49.63541666666667%;
}

#france_id > div:nth-of-type(4) .relative-container .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#france_id > div:nth-of-type(4) .relative-container .row .title-france {
  color: #fff;
  font-size: 33px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 5% 0 5% 5%;
  filter: contrast(1.75);
  -webkit-text-stroke: 1px black;
}

#france_id > div:nth-of-type(4) .relative-container .row .second-text {
  align-self: flex-end;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4vw;
  width: 57.96875%;
  background-color: #fff;
  padding: 2% 1%;
  filter: contrast(1.75);
}

#france_id > div:nth-of-type(4) .relative-container .background-color {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 63.735177865612656%;
  z-index: -1;
  background-color: #6c7d43;
  opacity: 0.8;
}

#france_id > div:nth-of-type(6) {
  padding-bottom: 85.78125%;
}

#france_id > div:nth-of-type(6) .title {
  font-family: "Montserrat";
  color: #6c7d43;
  width: 70%;
  padding: 0 0 2% 20%;
  font-size: 2vw;
  text-align: right;
  -webkit-text-stroke: 1px #6c7d43;
}

#france_id > div:nth-of-type(6) .chess-board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

#france_id > div:nth-of-type(6) .chess-board .section-column {
  display: flex;
  flex-direction: column;
  width: 36.145833333333336%;
}

#france_id > div:nth-of-type(6) .header {
  position: absolute;
  font-family: "Montserrat";
  font-size: 7em;
  color: rgba(34, 33, 33, 0.62);
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1175px) {
  #france_id > div:nth-of-type(1) {
    padding-bottom: 42%;
  }
  #france_id > div:nth-of-type(2) {
    padding-bottom: 189.375%;
  }
  #france_id > div:nth-of-type(2) .section-two {
    width: 100%;
  }
  #france_id > div:nth-of-type(2) .flex {
    display: flex;
    flex-direction: column;
  }
  #france_id > div:nth-of-type(2) .flex .firstColumn {
    width: 100%;
  }
  #france_id > div:nth-of-type(2) .flex .firstColumn .text {
    margin: 0 auto;
    text-align: justify;
    width: 81.375%;
    font-size: 33px;
    padding-bottom: 70px;
  }
  #france_id > div:nth-of-type(2) .flex .secondColumn {
    width: 100%;
    padding-top: 70px;
  }
  #france_id > div:nth-of-type(2) .flex .secondColumn .madrid-big {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #france_id > div:nth-of-type(2) .flex .secondColumn .nooks-crannies {
    width: 59.875%;
  }
  #france_id > div:nth-of-type(3),
  #france_id > div:nth-of-type(5) {
    padding-bottom: 420%;
  }
  #france_id > div:nth-of-type(3) .title,
  #france_id > div:nth-of-type(5) .title {
    text-align: center;
    padding: 0 7% 4%;
    font-size: 5vw;
    width: 100%;
  }
  #france_id > div:nth-of-type(3) .title-justify,
  #france_id > div:nth-of-type(5) .title-justify {
    text-align: justify;
  }
  #france_id > div:nth-of-type(3) .first-product-list,
  #france_id > div:nth-of-type(5) .first-product-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #france_id > div:nth-of-type(3) .first-product-list .product,
  #france_id > div:nth-of-type(5) .first-product-list .product {
    width: 57.5%;
    height: 1300px;
    gap: 5%;
  }
  #france_id > div:nth-of-type(3) .first-product-list .product .btn-see-more,
  #france_id > div:nth-of-type(5) .first-product-list .product .btn-see-more {
    font-size: 3vw;
    width: 100%;
  }
  #france_id > div:nth-of-type(5) {
    padding-bottom: 240%;
  }
  #france_id > div:nth-of-type(5) .first-product-list .product {
    width: 57.5%;
    height: 800px;
    gap: 5%;
  }
  #france_id > div:nth-of-type(5) .first-product-list .product .btn-see-more {
    font-size: 3vw;
    width: 100%;
  }
  #france_id > div:nth-of-type(4) {
    padding-bottom: 168.5%;
  }
  #france_id > div:nth-of-type(4) .relative-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #france_id > div:nth-of-type(4) .relative-container .section-woman-with-book {
    margin: 0 auto;
    justify-self: center;
    width: 71.875%;
  }
  #france_id > div:nth-of-type(4) .relative-container .row {
    flex-direction: column;
  }
  #france_id > div:nth-of-type(4) .relative-container .row .title-france {
    color: #fff;
    font-size: 33px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 5% 0;
  }
  #france_id > div:nth-of-type(4) .relative-container .row .second-text {
    align-self: flex-end;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    width: 89.5%;
    background-color: #fff;
    padding: 10% 5%;
    font-size: 3vw;
  }
  #france_id > div:nth-of-type(4) .relative-container .background-color {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 63.735177865612656%;
    z-index: -1;
    background-color: #6c7d43;
    opacity: 0.8;
  }
  #france_id > div:nth-of-type(6) {
    padding-bottom: 304.25%;
  }
  #france_id > div:nth-of-type(6) .title {
    font-family: "Montserrat";
    color: #6c7d43;
    width: 100%;
    text-align: center;
    font-size: 3vw;
    padding: 4%;
  }
  #france_id > div:nth-of-type(6) .title-justify {
    text-align: justify;
  }
  #france_id > div:nth-of-type(6) .chess-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #france_id > div:nth-of-type(6) .chess-board .section-column {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  #france_id > div:nth-of-type(6) .chess-board .reverse {
    flex-direction: column-reverse;
  }
  #france_id > div:nth-of-type(6) .header {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 800px) {
  #france_id > div:nth-of-type(1) {
    padding-bottom: 157%;
  }
  #france_id > div:nth-of-type(2) {
    padding-bottom: 364.375%;
  }
  #france_id > div:nth-of-type(2) .section-two {
    width: 100%;
  }
  #france_id > div:nth-of-type(2) .flex {
    display: flex;
    flex-direction: column;
  }
  #france_id > div:nth-of-type(2) .flex .firstColumn {
    width: 100%;
  }
  #france_id > div:nth-of-type(2) .flex .firstColumn .text {
    margin: 0 auto;
    text-align: justify;
    width: 81.375%;
    font-size: 33px;
    padding-bottom: 70px;
  }
  #france_id > div:nth-of-type(2) .flex .secondColumn {
    width: 100%;
    padding-top: 70px;
  }
  #france_id > div:nth-of-type(2) .flex .secondColumn .madrid-big {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #france_id > div:nth-of-type(2) .flex .secondColumn .nooks-crannies {
    width: 59.875%;
  }
  #france_id > div:nth-of-type(3),
  #france_id > div:nth-of-type(5) {
    padding-bottom: 430%;
  }
  #france_id > div:nth-of-type(3) .title,
  #france_id > div:nth-of-type(5) .title {
    text-align: center;
    padding: 0 7% 4%;
    font-size: 7vw;
    width: 100%;
  }
  #france_id > div:nth-of-type(3) .title-justify,
  #france_id > div:nth-of-type(5) .title-justify {
    text-align: justify;
  }
  #france_id > div:nth-of-type(3) .first-product-list,
  #france_id > div:nth-of-type(5) .first-product-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #france_id > div:nth-of-type(3) .first-product-list .product,
  #france_id > div:nth-of-type(5) .first-product-list .product {
    width: 57.5%;
    height: 400px;
    gap: 5%;
  }
  #france_id > div:nth-of-type(3) .first-product-list .product .btn-see-more,
  #france_id > div:nth-of-type(5) .first-product-list .product .btn-see-more {
    font-size: 5vw;
    width: 100%;
  }
  #france_id > div:nth-of-type(4) {
    padding-bottom: 190.5%;
  }
  #france_id > div:nth-of-type(4) .relative-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #france_id > div:nth-of-type(4) .relative-container .section-woman-with-book {
    margin: 0 auto;
    justify-self: center;
    width: 71.875%;
  }
  #france_id > div:nth-of-type(4) .relative-container .row {
    flex-direction: column;
  }
  #france_id > div:nth-of-type(4) .relative-container .row .title-france {
    color: #fff;
    font-size: 33px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 5% 0;
  }
  #france_id > div:nth-of-type(4) .relative-container .row .second-text {
    align-self: flex-end;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    width: 89.5%;
    background-color: #fff;
    padding: 10% 5%;
    font-size: 5vw;
  }
  #france_id > div:nth-of-type(4) .relative-container .background-color {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 63.735177865612656%;
    z-index: -1;
    background-color: #6c7d43;
    opacity: 0.8;
  }
  #france_id > div:nth-of-type(6) {
    padding-bottom: 420.25%;
  }
  #france_id > div:nth-of-type(6) .title {
    font-family: "Montserrat";
    color: #6c7d43;
    width: 100%;
    text-align: center;
    padding: 4%;
  }
  #france_id > div:nth-of-type(6) .title-justify {
    text-align: justify;
    font-size: 6vw;
  }
  #france_id > div:nth-of-type(6) .chess-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #france_id > div:nth-of-type(6) .chess-board .section-column {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  #france_id > div:nth-of-type(6) .chess-board .reverse {
    flex-direction: column-reverse;
  }
  #france_id > div:nth-of-type(6) .chess-board .buckle {
    margin: 0 auto;
  }
  #france_id > div:nth-of-type(6) .chess-board .product {
    margin: 0 auto;
  }
  #france_id > div:nth-of-type(6) .header {
    font-size: 3.5em;
  }
}
